.root{
    border: solid 1px rgba(41, 41, 41, 0.146);
    background-color: #f1f3f5;
    transition: all 0.1s ease-in-out;
    color:transparent;
}
.root:hover{
    background-color: #e5e5e5;
}
.darkRoot{
    background-color: #3b3b3b;
}
.darkRoot:hover{
    background-color: #2A2A2A;
}