
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
  font-family: "Roboto", sans-serif;
  position: relative;
  box-sizing: border-box;
}
a{
  cursor: pointer;
}
main{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
}
.sidebar{
  height:100vh;
  width:20vw;
  min-width: 320px;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  padding-top:50px;
}
.home-content{
  width:80vw;
  height:100vh;
  min-width: 320px;
  background-color: white;
  z-index: 4;
}
.content-main{
  min-height:100vh;
  width:100%;
}
.sidebar-button{
  display: block;
  text-align: center;
  text-decoration: none;
  color:black;
  width:90%;
  padding-block: 10px;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  font-size:20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  gap: 30px;
  padding-left: 10px;
  display: flex;
}
.sidebar-button:hover{
  background-color: rgb(106 199 255);
}
.dropzone {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
  font-size: 24px;
  transition: background-color 0.2s;
  cursor: pointer;
  border: 2px dashed #ccc;
}
a{
  text-decoration: none;
}
p{
  user-select: none;
  color:#00000082;
  width:80%;
  text-align:center;
}
.dropzone.dragging {
  background-color: rgba(0, 0, 0, 0.3);
}
.folder-selector-wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.dropdown-selector{
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  margin-top:20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.none{
  display: none;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  cursor: pointer; 
  transition: all 0.2s ease-in-out;
}
.submit-button{
  padding:10px;
  background-color: rgb(106 199 255);
  border-radius: 5px;
  border:none;
  font-size:16px;
  margin-block:10px;
}
.submit-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  max-height: 60vh;
  overflow-y: scroll;

}
.width100{
  width:100%;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.folder-input{
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  margin-top: 20px;
  border:solid gray 1px;
  width: 250px;;
  font-size:20px;
}
.folder-main{
  display: flex;
  gap:30px;
  padding:30px;
  width: 100%;
  flex-wrap: wrap;
}

.folder-title{
  text-decoration: none;
  color: black;
  text-align: center;
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
}
.folder-wrapper{
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px
}
.active-button{
  background-color:rgb(75, 168, 225);
}
.black{
  text-decoration: none;
  color:rgb(37 171 255);
  width: 100%;
  height:100%;
}
.manage-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100vh;
  overflow: scroll;
}
.screen-button{
  height:125px;
  width: 200px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:none;
  cursor: pointer;
  gap:20px;
  z-index: 4;
  background-color: transparent;
}
.screen-button:hover{
  .button-icon{
    color:rgb(75, 168, 225)
  }
}
.button-icon{
  color:black;
  height: 80%;
  transition:all 0.2s ease-in-out;
}
.button-title{
  color:black;
  width: 100%;
  text-align: center;
  font-size:20px;
}
.screen-links{
  width: 100%;
  max-height:100vh;
  display: flex;
  overflow-y:scroll;
  gap:30px;
  padding:30px;
  flex-wrap: wrap;
}
.red{
  background-color: red;
  position: absolute;
  top:0;
  right:0;
  border:none;
  border-radius: 5px;
  z-index: 5;
  transition:all 0.2s ease-in-out;
  .delete-icon{
    color:white;
    padding:5px;
  }
}
.red:hover{
  background-color: rgb(185, 0, 0);
}
.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  p{
    width: 100%;
  }
}

.popup-buttons {
  margin-top: 20px;
}

.popup-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(106, 199, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:hover {
  background-color: rgb(75, 168, 225);
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline:none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: rgb(106, 199, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right:10px;
}

.search-bar button:hover {
  background-color: rgb(75, 168, 225);
}
.screen-search-error{
  width: 100%;
  padding: 30px;
}
.new-folder-input{
  padding-block: 5px;
    padding-inline: 10px;
    outline: none;
    border-radius: 5px;
    border: solid black 1px;
    margin-top: 10px;
}
.folder-icon{
  height: 100%;
}
.screen-name{
  width: 100%;
  text-align: center;
}
.day{
  padding: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 7px;
  z-index: 5;
}
.calendar{
  display: flex;
  flex-direction: column;
  gap:20px;
  max-height:calc(100vh - 70px);
  overflow-y: scroll;
  align-items: center;
  padding:20px;
}
.month-selector{
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
}
.day-icon{
  position: absolute;
  right:20px;
  transition:all 0.2s ease-in-out
}
.extended-day{
  background-color: rgb(244, 244, 244);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width:98%;
  height:0px;
  z-index: 4;
  transition:all 0.25s ease-in-out;
}
.extended-day-content{
  width: 100%;
  height: 100%;
  padding: 10px;
  visibility: none;
  display: flex;
  align-items: center;
}
.day-wrapper{
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rotated{
  transform: rotate(90deg);
}
.height100px{
  height:100px;
}
.flex{
  display: flex;
  visibility: visible;
}
#red{
  background-color: red;
  color:white;
  transition:all 0.2s ease-in-out;
}
#red:hover{
  background-color: rgb(185, 0, 0);
}
.clicked-image{
  opacity: 0.5;
}
.search-error{
  color:rgba(0, 0, 0, 0.5098039216);
  padding:30px;
  width: 100%;
  text-align: center;
}
.extended-day-button {
  height: 0px;
  opacity: 0;
  transition: height 0.2s ease-in-out, opacity 0.15s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 5px;
    border: none;
    background-color: rgb(106 199 255);
    padding-inline: 5px
}
.extended-day-button:hover{
  background-color: rgb(75, 168, 225);
}


.opacity-full{
  opacity: 1;
  height:50px;
}
.image-selector{
  background-color: #f9f9f9;
  width: 80vw;
  min-width: 300px;
  height:600px;
  border-radius: 7px;
  padding:10px;
  h1{
    font-weight: 400;
    font-size:24px;
  }
}
